@media(max-width: 425px)
{
  
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }


h1, h2, h3, h4, h5, p, label, .date{
    color: white;
}